@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Castoro:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  font-family: "Hanken Grotesk", sans-serif;
}
header .header-first-part {
  background: #183833;
  width: 100%;
  color: white;
  font-size: 14px;
  padding: 10px;
}
header .header-first-part .first {
  font-size: 14px;
}
header .header-first-part .first i {
  font-size: 14px;
}
header .header-first-part .second {
  font-size: 16px;
}
header .header-first-part .second .content {
  padding: 0px 59px;
}
header .header-first-part .store {
  width: 113px;
}
header .header-first-part .contact {
  width: 180px;
}
header .header-first-part i {
  color: white;
}
header .header-first-part .number {
  color: #ff5c35;
}
header .header-second-part {
  padding: 35px;
}
header .wrapper nav {
  position: absolute;
  font-size: 14px;
}
header .wrapper nav > ul {
  margin-top: -23px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
}
header .wrapper nav a {
  font-family: "Hanken Grotesk", sans-serif;
  display: block;
  text-decoration: none;
  color: #183833;
  font-weight: 600;
  letter-spacing: 2px;
}
header .wrapper nav ul li {
  list-style: none;
  transition: 0.5s;
}
header .wrapper ul img {
  width: 300px;
  height: 350px;
}
header .wrapper nav > ul > li > a {
  padding: 15px 25px;
  text-transform: uppercase;
}
header .wrapper nav ul > li.dropdown > a::after {
  position: relative;
  float: right;
  content: "";
  margin-left: 10px;
  margin-top: 8px;
}
header .wrapper nav > ul > li:hover {
  background: lavender;
}
header .wrapper nav ul.menu-area {
  padding: 40px 40px 0px 40px;
  background: #fff;
  text-align: left;
  border-top: 5px solid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  top: -9999px;
  left: 0;
  margin-bottom: 100px;
}
header .wrapper nav ul li:hover ul.menu-area {
  top: 100%;
}
header .wrapper nav ul.menu-area ul {
  width: 25%;
  margin-bottom: 40px;
  color: #262626;
}
header .wrapper nav ul.menu-area h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
}
header .wrapper nav ul.menu-area ul li {
  display: block;
}
header .wrapper nav ul.menu-area ul li a {
  margin-top: 10px;
  color: #000;
  text-transform: none;
}
header .wrapper nav ul.menu-area ul li a:hover {
  color: #164c82;
}
header .mini-icons i {
  font-size: 20px;
}
header .search {
  color: #19191a;
  width: 40px;
}
header .search:hover {
  color: #ff5c35;
  cursor: pointer;
}
header .first-text {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  line-height: 1.1;
  font-family: "Alex Brush", cursive;
  letter-spacing: -2px;
  color: #ff5c35;
  opacity: 1;
  top: 258px;
  width: 1920px;
  height: 52.7969px;
  left: 0px;
}
header .about-us {
  background-image: url("./img/leo-bakevo-elements-home1-banner1-bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 110px 0px 100px 0px;
}

@media screen and (max-width: 1024px) {
  .header-first-part {
    padding: 10px;
  }
  .header-first-part .header-elements {
    justify-content: center;
  }
  .header-first-part .first {
    display: none;
  }
  .header-first-part .second {
    display: none;
  }
  .header-second-part .wrapper {
    display: none;
  }
  .header-second-part .bakevo-logo {
    text-align: center;
  }
  .header-second-part .mini-icons {
    display: flex;
    margin-top: 30px;
    margin-left: 90px;
  }
}/*# sourceMappingURL=main.css.map */