$bgGreen: #183833;
$white: white;
$orange: #ff5c35;

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header{
    font-family: "Hanken Grotesk", sans-serif;
    .header-first-part{
        background: $bgGreen ;
        width: 100%;
        color: $white;
        font-size: 14px;
        .first{
            font-size: 14px;
        }
        .second{
            font-size: 16px;
            .content{
                padding: 0px 59px;
            }
        }
        .store{
            width: 113px;
        }
        .contact{
            width: 180px;
        }
        i{
            color: $white;
        }
        .number{
            color: $orange;
        }
        .third{
           .caption{
                width: 101px;
           }
        }
    }
    .wrapper{
        background-color: #fff;
        nav{
            position: absolute;
            font-size: 16px;
            ul{
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                padding: 0;
            }
            a{
                display: block;
                text-decoration: none;
                color: black;
            }
            ul li{
                list-style: none;
                transition: 0.5s;
            }
            img{
                width: 300px;
                height: 350px;
            }
             > ul > li > a{
            padding: 0px 25px;
            text-transform: uppercase;
            i{
                color: #19191a;
                padding-left: 6px;
            }
            }
            ul>li.dropdown> a::after{
            position: relative;
            float:left;
            content: '';
            margin-left: 10px;
            margin-top: 8px;
            }
             > ul > li:hover{
            background: lavender;
            }
             ul.menu-area{
            padding: 40px 40px 0px 40px;
            background: #fff;
            text-align: left;
            border-top: 5px solid;
            box-shadow: 0 5px 10px rgba(0,0,0,0.6);
            z-index: 1;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            width: 1170px;
            top: -9999px;
            left: 0;
            margin-bottom: 100px;
            }
            li:hover ul.menu-area{
            top: 100%;
            }
            ul{
            width: 25%;
            margin-bottom: 40px;
            color: #262626;
            }
            h4{
            margin-bottom: 15px;
            text-transform: uppercase;
            }
            li{
            display: block;
            }
            li a{
            margin-top: 10px;
            color: #000;
            text-transform: none;
            }
        }
    }
    .search{
        color: #19191a;
        width: 40px;
        &:hover{
            color: $orange;
            cursor: pointer;
        }
    }
}